<?xml version="1.0" encoding="utf-8"?>
<AutoVersion>
	<Enabled>true</Enabled>
	<SemVer>
		<!-- Must Be Incremented on Breaking Changes Only -->
		<Major>0</Major>
		<!-- Must Be Incremented on New Features Only -->
		<Minor>1</Minor>
		<!-- Must Be Incremented on Bug Fixes / Dependency Updates Only -->
		<Patch>0</Patch>
		<!-- Optional Alpha Numeric string for pre-releases, can also contain dashes -->
		<PreRelease>
		</PreRelease>
	</SemVer>
	<Metadata>
		<Company>WSOL</Company>
		<Description>Episerver lucene search enhancements.</Description>
		<CopyrightInfo>
		</CopyrightInfo>
		<GUID>
		</GUID>
		<CodeLanguage>CS</CodeLanguage>
		<OutputFile>GeneratedAssemblyInfo.cs</OutputFile>
		<ComVisible>false</ComVisible>
		<GenerateClass>false</GenerateClass>
		<ComputerInfoEnable>false</ComputerInfoEnable>
		<GitTagEnable>false</GitTagEnable>
		<GitBranchEnable>false</GitBranchEnable>
		<UpdateAssemblyVersion>
			<!-- by default these stay at 1.0.0 to avoid assembly redirects -->false</UpdateAssemblyVersion>
		<UpdateAssemblyFileVersion>false</UpdateAssemblyFileVersion>
		<UseNonStandardVersioning>
			<!-- Use NonStandard Versioning of (Major.Year.MMdd.HHmm)-->false</UseNonStandardVersioning>
		<UseBuildNumberVersioning>
			<!-- Use VSO Versioning of (Major.Minor.BuildNumber)-->true</UseBuildNumberVersioning>
		<ClearPreReleaseOnMatch>
			<!-- If $(Build_SourceBranchName) is contained in this string, it is removed-->master</ClearPreReleaseOnMatch>
	</Metadata>
	<notes>
		<note date="yyyyMMdd" author="bmcdavid" build="0.1.0"><![CDATA[Add notes here for any specific release]]>
		</note>
	</notes>
</AutoVersion>